.oldal{
    background-color: burlywood;
    /*max-width: 1023px;*/
    text-align: center;
    justify-content: center;
    max-width: 1023px;
}

#fejlec{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
#menu{
    float: left;
    justify-content: center;
    text-align: center;
    
}
li a {
    display: block;
    padding: 12px;
    font-size: larger;
    font-weight: bold;
    color: antiquewhite;
   
    
}

a:link{
    text-decoration: none;
    cursor: hand;
    
}
a:hover{
   
    border: none;
    text-decoration: underline;
}

#lablec{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
h3 {
    display: block;
    padding: 12px;
    font-size: larger;
    font-weight: bold; 
}

.lab{
    color: antiquewhite;
}

.lablec{
    background-color:chocolate;
    
}
p{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.szekcio{
    line-height: 200%;
}
#kep{
width: 350px;
  border: 5px;
  border-right: 5px;
  border-color: azure;
  border-style: solid;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 280px
 
}
#elso{

border-right-color:black;
border: 2px;
border-style: solid;
border-left-color: bisque;
border-top-color: bisque;
border-bottom-color:bisque;
margin-bottom: 35px;



}
#elkeszites{
    background-color: bisque;
    border-radius: 15px;
    
}
p{
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

#masodik{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px; 
    border-style: solid;
    border-right-color:bisque;
    border-left-color: black;
    border-top-color: bisque;
    border-bottom-color:bisque;
    margin-bottom: 35px;



}


.fofej{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: chocolate;
}

#tapertekek{
    background-color: bisque;
    border-radius: 15px;
    
}
h3{
    text-decoration: underline;
}

#jellemzoi, #feltalalas{
    background-color: bisque;
    border-radius: 15px;
    
    
}
